* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* WRAPPER SECTION */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    /* debug */
    background-color: chartreuse;
}
/* aside inside the wrapper */

#wrapper aside {
    width: 200px;
    height: 100%;
    background-color: black;
}

/* main inside the wrapper */
#wrapper main {
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgb(20, 25, 34);
}
/* MAIN SECTION */
/* banner upgrade inside the main */
#banner-upg {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.376);
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    z-index: 5;
}
.btn-upg {
    text-align: end;
    line-height: 100px;
    
}
.btn-upg a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    border: solid 1px white;
    border-radius: 20px;
    padding: 13px 40px;
    margin-right: 25px;
}
.btn-upg a:hover{

    font-size: 1rem;
}
/* main content inside the main */
.main-content-container {
    height: 100%;
    overflow-y: auto;
}
/* nav inside the main */
#wrapper main nav {
    
    margin-top: 100px;
    /* debug */
    /* background-color: crimson; */
}
main nav ul {
    padding: 25px 0;
    text-align: center;
}
main nav li {
    display: inline-block;
    padding: 0 10px;
}
main nav a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    color: grey;
}
main nav a:hover {
    color: rgb(182, 182, 182);
}
nav .selected {
    border-bottom: 3px solid rgb(145, 213, 39);
    width: 40%;
    margin: 2px auto;
}


/* albums section */
.row > h2 {
    font-weight: 700;
    color: white;
    margin: 0 1%;
}
.row > p {
    margin: 1% 1%;
}

.album-container {
    margin: 2% 0;
    /* debug */
    /* border: solid salmon;  */
}


.album {
    float: left;
    text-align: center;
    width: calc(100% / 6 - 2%);
    margin: 0.5% 0.5%;
    /* debug */
    /* border: white solid; */
}
.album h3 {
    margin: 3% 0;
    font-size: 1rem;
}
.sub-title, .row > p {
    color: grey;
    font-size: 0.8rem;
    font-weight: 700;
}

.cover {
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    /* debug */
    /* border: solid; */
}
.cover img {

    max-width: 100%;
}

#artists .cover img {

    border-radius: 50%;
}




/* PLAYER SECTION */
#player {
    height: 100px;
    /* debug */
    background-color: brown;
}
.overlay {

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay i {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
}
.album:hover .overlay{

    display: block;
}
#artists .cover .overlay {

    border-radius: 50%;
}

/* END MAIN SECTION --------------------*/
/* MEDIA QUERY MAIN SECTION */

@media all and (max-width: 878px) and (min-width: 640px) {

    .album {

        float: none;
        width: calc(100% / 4 - 2%);
        margin: 2% 0.5%;
    }

    .album-container {

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .row {

        margin-top: 10%;
    }

    main nav li {
        padding: 5% 10px;
    }


}


@media all and (max-width: 639px){

    .album {

        width: calc(100% / 2 - 2%);
        margin: 2% 0.5%;
    }


    .row {

        margin-top: 10%;
    }


    main nav li {
        padding: 5% 10px;
    }
}
/* END MEDIA QUERY MAIN SECTION */
/* ASIDE SECTION--------------------------- */

.logo {
    max-width: 55%;
}






/* END ASIDE SECTION----------------------------- */